<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Scheduler Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <script src="/js/jquery.3.3.1.min.js"></script>

    <script src="/js/angular.1.6.9.min.js"></script>
    <script src="/js/angular-ui-router.0.4.2.js"></script>
    <script src="/js/bootstrap.3.3.7.min.js"></script>

    <script src="/js/ui-bootstrap-tpls-2.5.0.js"></script>
</head>
<body ng-app="scheduler">

<div class="container">

    <div ng-include="'/view/navbar.html'" ng-cloak></div>

    <div ui-view ng-cloak class="jumbotron"></div>

    <div ng-include="'/view/footer.html'" ng-cloak></div>
</div>
<noscript>
    <h1>You must enable javascript to view this page.</h1>
</noscript>

<script src="/view/home/app.state.js"></script>
<script src="/view/home/app.controller.js"></script>
<script src="/view/events/events.state.js"></script>
<script src="/view/events/events.controller.js"></script>
<script src="/view/activities/activities.state.js"></script>
<script src="/view/activities/activities.controller.js"></script>

</body>
</html>