<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Scheduler</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/!"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#!events"><span class="glyphicon glyphicon-calendar"></span> Event</a></li>
            <li><a href="#!activities"><span class="glyphicon glyphicon-pushpin"></span> Activity</a></li>
        </ul>
    </div>
</nav>
